<h2 mat-dialog-title>Détails de l'étudiant</h2>
<mat-dialog-content>
  <p><strong>Nom :</strong> {{ data.userNom }}</p>
  <p><strong>Prénom :</strong> {{ data.userPrenom }}</p>
  <p><strong>DateNaissance :</strong> {{ data.dateNaissance }}</p>
  <p><strong>Email :</strong> {{ data.userEmail }}</p>
  <p><strong>Formation :</strong> {{ data.formations }}</p>
  <p><strong>Promotion :</strong> {{ data.promo }}</p>
  <p><strong>Niveau :</strong> {{ data.niveau }}</p>
  <p><strong>ANNEE :</strong> {{ data.annee }}</p>
  <p><strong>INE :</strong> {{ data.ine }}</p>
  <p><strong>ENO :</strong> {{ data.eno }}</p>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>