<mat-toolbar color="primary">
  <div class="mat-toolbar-row">
    <span class="navbar-brand">UNCHK</span>
    
    <a mat-button routerLink="/dashbord-admin" class="nav-link">Accueil</a>
    <a mat-button routerLink="/gestion-etudiant" class="nav-link">Gestion des étudiants</a>

    <span class="spacer"></span> 

    <button mat-raised-button color="warn" class="deconnexion-btn" (click)="logout()">Déconnexion</button>
  </div>
</mat-toolbar>
<div class="container mt-4">
  <div class="text-center" >
    <h3 >Enregistrer un nouvel étudiant</h3>
  <button mat-raised-button color="primary"   (click)="choose()">ajouter</button>
  </div>
  
    <mat-divider class="my-4"></mat-divider>

    <mat-card class="p-4">
      <h3>Liste des étudiants</h3>
  
      <div class="table-responsive">
        <table mat-table [dataSource]="etudiants" class="mat-elevation-z8 w-100">
  
          <!-- Nom Column -->
          <ng-container matColumnDef="userNom">
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let etudiant"> {{etudiant.userNom}} </td>
          </ng-container>
  
          <!-- Prénom Column -->
          <ng-container matColumnDef="userPrenom">
            <th mat-header-cell *matHeaderCellDef> Prénom </th>
            <td mat-cell *matCellDef="let etudiant"> {{etudiant.userPrenom}} </td>
          </ng-container>
  
          <!-- Email Column -->
          <ng-container matColumnDef="userEmail">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let etudiant"> {{etudiant.userEmail}} </td>
          </ng-container>
  
          <!-- Formation Column -->
          <ng-container matColumnDef="formations">
            <th mat-header-cell *matHeaderCellDef> Formation </th>
            <td mat-cell *matCellDef="let etudiant"> {{etudiant.formations}} </td>
          </ng-container>
  
          <!-- Actions Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let etudiant">
              <button mat-button color="primary" (click)="voirDetails(etudiant)">Voir détails</button>
              <button mat-button color="accent" [routerLink]="['/etudiants/modifier', etudiant.id]">Modifier</button>
              <button mat-button color="warn" (click)="supprimerEtudiant(etudiant.id)">Supprimer</button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card>
  </div>