<mat-toolbar color="primary">
  <div class="mat-toolbar-row">
    <span class="navbar-brand">UNCHK</span>
    <a mat-button routerLink="/accueil" class="nav-link">Accueil</a>
    <a mat-button routerLink="/gestion-etudiant" class="nav-link">Gestion des étudiants</a>

    <span class="spacer"></span>

    <button mat-raised-button color="warn" class="deconnexion-btn" (click)="logout()" >Déconnexion</button>
  </div>
</mat-toolbar>
    <div class="container-fluid p-5 bg-primary text-white rounded">
      <h1>Bienvenue</h1>
      <p>Sur la plateforme de gestion universitaire de l'UNCHK</p> 
    </div>
    <div class="container my-5">
        <div class="text-center">
          <h2 class="mb-3">Gestion des étudiants</h2>
          <p class="lead text-black">
            En tant qu'administrateur, vous pouvez enregistrer de nouveaux étudiants sur la plateforme.
            Veuillez remplir le formulaire dédié pour ajouter leurs informations académiques et administratives.
          </p>
      
          <a routerLink="/ajouter-etudiant" class="btn-lg mt-3" mat-raised-button color="primary" >
            Enregistrer un étudiant
          </a>
        </div>
        
      </div>


  
