<div class="login-container">
    <mat-card class="login-card">
      <h3 class="title">SERVICE CENTRAL <br> D'AUTHENTIFICATION</h3>
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" name="userEmail" ngModel placeholder="Email" required email>
          </mat-form-field>
    
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Mot de passe</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" name="userPassword" ngModel placeholder="Mot de passe" required>
          </mat-form-field>
    
          <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="loginForm.invalid">
            Se Connecter
          </button>
      </form>
      <a routerLink="/modifier-mdp-email" class="forgot-password-link">Mot de passe oublié ?</a>
    </mat-card>
  </div>
