<mat-toolbar>
  <div class="mat-toolbar-row">
    <span class="navbar-brand">UNCHK</span>
    <a mat-button routerLink="/dashbord-admin" class="nav-link">Accueil</a>
    <a mat-button routerLink="/gestion-etudiant" class="nav-link">Gestion des étudiants</a>

    <span class="spacer"></span> 

    <button mat-raised-button color="warn" class="deconnexion-btn" (click)="logout()">Déconnexion</button>
  </div>
</mat-toolbar>
<div class="bg-light">
    <div class="container py-5">
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h4>Modifier-Étudiant</h4>
        </div>
        <div class="card-body">
            <form [formGroup]="etudiantForm" (ngSubmit)="onSubmit()">
                <div class="row g-3">
                  <div class="col-md-6">
                    <label class="form-label">Nom</label>
                    <input type="text" class="form-control" placeholder="Nom" formControlName="userNom" required>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">Prénom</label>
                    <input type="text" class="form-control" placeholder="Prénom" formControlName="userPrenom" required>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" placeholder="Email" formControlName="userEmail" required>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">Mot de passe</label>
                    <input type="password" class="form-control" placeholder="Mot de passe" formControlName="userPassword">
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">Date de naissance</label>
                    <input type="date" class="form-control" formControlName="dateNaissance" required>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">Formation</label>
                    <input type="text" class="form-control" formControlName="formations" required>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">Promo</label>
                    <input type="text" class="form-control" formControlName="promo" required>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">Année</label>
                    <input type="number" class="form-control" formControlName="annee" required>
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">INE</label>
                    <input type="text" class="form-control" formControlName="ine">
                  </div>
                  <div class="col-md-6">
                    <label class="form-label">Niveau</label>
                    <input type="text" class="form-control" formControlName="niveau">
                  </div>
                  <div class="col-12">
                    <label class="form-label">ENO</label>
                    <input type="text" class="form-control" formControlName="eno">
                  </div>
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary w-100">Enregistrer</button>
                  </div>
                </div>
              </form>       
        </div>
      </div>
    </div>
</div>