<mat-toolbar color="primary">
  <div class="mat-toolbar-row">
    <span class="navbar-brand">UNCHK</span>
    <a mat-button routerLink="/dashbord-admin" class="nav-link">Accueil</a>
    <a mat-button routerLink="/gestion-etudiant" class="nav-link">Gestion des étudiants</a>

    <span class="spacer"></span> 

    <button mat-raised-button color="warn" class="deconnexion-btn" (click)="logout()">Déconnexion</button>
  </div>
</mat-toolbar>

<body class="bg-light">
    <div class="container py-5">
      <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
          <h4>Inscription Étudiant</h4>
        </div>
        <div class="card-body">
          <form #signupForm="ngForm" (ngSubmit)="form(signupForm)" >
            <div class="row g-3">
              <div class="col-md-6">
                <label for="Name" class="form-label">Nom</label>
                <input type="text" name="userNom" class="form-control" placeholder="Nom" ngModel required>
              </div>
              <div class="col-md-6">
                <label for="FirtName" class="form-label">Prénom</label>
                <input type="text" name="userPrenom" class="form-control" placeholder="Prénom" ngModel required>
              </div>
              <div class="col-md-6">
                <label for="Email" class="form-label">Email</label>
                <input type="email" name="userEmail" class="form-control" placeholder="Email" ngModel required>
              </div>
              <div class="col-md-6">
                <label for="Password" class="form-label">Mot de passe</label>
                <input type="password" name="userPassword" class="form-control" placeholder="Mot de passe" ngModel required>
              </div>
              <div class="col-md-6">
                <label for="dateNaissance" class="form-label">Date de naissance</label>
                <input type="date" id="dateNaissance" class="form-control" name="dateNaissance" ngModel required>
              </div>
              <div class="col-md-6">
                <label for="formation" class="form-label">Formation</label>
                <input type="text" id="formations" class="form-control" name="formations" ngModel required>
              </div>
              <div class="col-md-6">
                <label for="promo" class="form-label">Promo</label>
                <input type="text" id="promo" class="form-control" name="promo" ngModel required>
              </div>
              <div class="col-md-6">
                <label for="annee" class="form-label">Année</label>
                <input type="number" id="annee" class="form-control" name="annee" ngModel required>
              </div>
              <div class="col-md-6">
                <label for="INE" class="form-label">INE</label>
                <input type="text" id="ine" class="form-control" name="ine" ngModel>
              </div>
              <div class="col-md-6">
                <label for="niveau" class="form-label">Niveau</label>
                <input type="text" id="niveau" class="form-control" name="niveau" ngModel>
              </div>
              <div class="col-12">
                <label for="ENO" class="form-label">ENO</label>
                <input type="text" id="eno" class="form-control" name="eno" ngModel>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary w-100">Enregistrer</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>